body {
    background-image: url('https://blog.hubspot.es/hubfs/como-hacer-una-pagina-web-en-html.jpg');
    background-size: cover;
}

.container-login {
    margin-top: 5%;
}

.container-main {
    margin: 0%;
    /*     background-color: rgba(204, 99, 0, 0.7);
    background-color: rgba(8, 102, 20, 0.7);
     background-color: rgba(8, 44, 102, 0.7);
 */
}

.container-table {
    background-color: white;
    height: 500px;
}

.login {
    background-color: rgba(31, 31, 31, 0.9);
    width: 550px;
    color: white;
    border: 1px solid white;
    border-radius: 25.5px;
}

.card {
    margin: 0%;
}

input {
    border-width: 0px;
    border: none;
}